<div *ngIf="sequenceDissolve &&
            sequenceDissolve.itemA &&
            sequenceDissolve.itemB"
            class="headline">
    <h1 [ngClass]="sequenceDissolve.itemA.klass">
    	<a href="{{sequenceDissolve.itemA.data.url}}"
    	   target="_blank">
	    	{{sequenceDissolve.itemA.data.title}}
	    </a>
    </h1>
    <h1 [ngClass]="sequenceDissolve.itemB.klass">
    	<a href="{{sequenceDissolve.itemB.data.url}}"
    	   target="_blank">
	    	{{sequenceDissolve.itemB.data.title}}
	    </a>
    </h1>
</div>