
.da-invisible {
  opacity: 0;
}

.da-visible {
  opacity: 1;
}

.da-shown {
  opacity: .999;
}

.da-hidden {
  display: none;
}

/* Fade Out */
@keyframes daFadeOut {
  0%    { opacity: 1; }
  100%  { opacity: 0; }
}
@-o-keyframes daFadeOut{
  0%    { opacity: 1; }
  100%  { opacity: 0; }
}
@-moz-keyframes daFadeOut{
  0%    { opacity: 1; }
  100%  { opacity: 0; }
}
@-webkit-keyframes daFadeOut{
  0%    { opacity: 1; }
  100%  { opacity: 0; }
}

.da-fade-out {
   -webkit-animation: daFadeOut 3s linear;
   -moz-animation: daFadeOut 3s linear;
   -o-animation: daFadeOut 3s linear;
    animation: daFadeOut 3s linear;
}

/* Fade In */
@keyframes daFadeIn {
  0%    { opacity: 0; }
  100%  { opacity: 100; }
}
@-o-keyframes daFadeIn{
  0%    { opacity: 0; }
  100%  { opacity: 100; }
}
@-moz-keyframes daFadeIn{
  0%    { opacity: 0; }
  100%  { opacity: 100; }
}
@-webkit-keyframes daFadeIn{
  0%    { opacity: 0; }
  100%  { opacity: 100; }
}

.da-fade-in {
   -webkit-animation: daFadeIn 3s linear;
   -moz-animation: daFadeIn 3s linear;
   -o-animation: daFadeIn 3s linear;
    animation: daFadeIn 3s linear;
}